<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-3">
            <!-- Left column content here -->
            <h3>Past Posts</h3>
            <table>
                <tr class="p-2" *ngFor="let post of posts$ | async">
                    <td class="p-1">{{post.timestamp | date}}</td>
                    <td class="p-1">{{post.title}}</td>
                </tr>
            </table>

            <div class="d-flex justify-content-end p-5">
                <button class="btn btn-outline-primary" type="button" (click)="newOrEditPost(createOrEditPost)">New
                    Post</button>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Right column content here -->
            <div class="p-3" *ngFor="let post of posts$ | async">
                <div class="form-group row">
                    <h4 class="col-md-2">{{post.timestamp | date}}</h4>
                    <h4 class="col-md-9">{{post.title}}</h4>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-icon" (click)="newOrEditPost(createOrEditPost, post)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-icon" (click)="deletePost(post.id!)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
                <div [innerHTML]="post.text"></div>

            </div>
        </div>
    </div>
</div>

<ng-template #createOrEditPost let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ postForm.value.id ? 'Edit Post' : 'Add Post' }}</h4>
        <button type="button" class="btn btn-outline-secondary btn-round" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <i class="fas fa-times"></i>X
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="postForm">
            <div class="form-group row mb-2">
                <label for="title" class="col-sm-1 col-form-label text-center">Title</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control w-100" formControlName="title">
                </div>
            </div>
            <div class="form-group row">
                <label for="text" class="col-sm-1 col-form-label text-center">Post</label>
                <div class="col-sm-11">
                    <ckeditor formControlName="text" [editor]="Editor">
                    </ckeditor>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmit(modal)">Post</button>
    </div>
</ng-template>